n8n-workflows/news-ai-classification-workflow.json
{
  "name": "新闻AI分类与翻译工作流 (Gemini + PostgreSQL)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "定时触发器",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://feeds.bbci.co.uk/news/rss.xml",
        "options": {}
      },
      "id": "rss-feed-reader",
      "name": "读取RSS新闻源",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-title",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "extract-description",
              "name": "description",
              "value": "={{ $json.content || $json.contentSnippet || $json.description }}",
              "type": "string"
            },
            {
              "id": "extract-link",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "extract-pubdate",
              "name": "pubDate",
              "value": "={{ $json.pubDate || $json.isoDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-fields",
      "name": "提取新闻字段",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const newsData = {\n  title: $input.item.json.title,\n  description: $input.item.json.description,\n  link: $input.item.json.link,\n  pubDate: $input.item.json.pubDate\n};\n\nreturn { json: newsData };"
      },
      "id": "store-news-data",
      "name": "保存新闻数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT CAST(COUNT(*) as integer) as count FROM news_articles WHERE link = '{{ $json.link }}'",
        "options": {}
      },
      "id": "check-duplicate-db",
      "name": "检查重复新闻",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1120, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Database"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const count = $input.item.json.count;\nconst newsData = $node[\"保存新闻数据\"].json;\n\nreturn {\n  json: {\n    ...newsData,\n    count: count\n  }\n};"
      },
      "id": "merge-data",
      "name": "合并数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "looseTypeValidation": true
          },
          "conditions": [
            {
              "id": "check-not-duplicate",
              "leftValue": "={{ Number($json.count) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-new-articles",
      "name": "过滤新文章",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gemini-2.5-flash",
        "prompt": "=You are a news classification and summarization assistant. Analyze the following news article and provide a response in JSON format with these fields:\n\n- category: One of these categories in Chinese: 科技, 财经, 政治, 体育, 娱乐, 健康, 社会, 其他\n- summary: A concise English summary (max 100 words)\n- summary_zh: A concise Chinese translation of the summary (max 100 Chinese characters)\n- keywords: An array of 3-5 English keywords\n\nNews Title: {{ $json.title }}\n\nNews Content: {{ $json.description ? $json.description.substring(0, 1000) : '' }}\n\nReturn ONLY the JSON object, no other text.",
        "options": {
          "temperature": 0.3,
          "maxOutputTokens": 1000
        }
      },
      "id": "gemini-classification",
      "name": "Gemini AI分类和翻译",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [1780, 300],
      "credentials": {
        "googlePalmApi": {
          "id": "google-gemini-api",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const geminiText = $input.item.json.text || $input.item.json.response || '';\nlet aiResult;\n\ntry {\n  const jsonMatch = geminiText.match(/```json\\s*([\\s\\S]*?)\\s*```/) || \n                    geminiText.match(/\\{[\\s\\S]*\\}/);\n  \n  if (jsonMatch) {\n    const jsonText = jsonMatch[1] || jsonMatch[0];\n    aiResult = JSON.parse(jsonText);\n  } else {\n    aiResult = JSON.parse(geminiText);\n  }\n} catch (error) {\n  console.error('解析Gemini响应失败:', error);\n  console.error('原始响应:', geminiText);\n  aiResult = {\n    category: '其他',\n    summary: $node[\"过滤新文章\"].json.description?.substring(0, 200) || '',\n    summary_zh: '暂无摘要',\n    keywords: []\n  };\n}\n\nconst originalData = $node[\"过滤新文章\"].json;\n\nconst newsItem = {\n  title: originalData.title || '',\n  description: originalData.description || '',\n  link: originalData.link || '',\n  pubDate: originalData.pubDate || new Date().toISOString(),\n  category: aiResult.category || '其他',\n  summary: aiResult.summary || '',\n  summary_zh: aiResult.summary_zh || aiResult.summary || '',\n  keywords: Array.isArray(aiResult.keywords) ? aiResult.keywords.join(',') : '',\n  source: 'BBC News',\n  createdAt: new Date().toISOString()\n};\n\nreturn { json: newsItem };"
      },
      "id": "format-data",
      "name": "格式化数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": "public",
        "table": "news_articles",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json.title }}",
            "description": "={{ $json.description }}",
            "link": "={{ $json.link }}",
            "pub_date": "={{ $json.pubDate }}",
            "category": "={{ $json.category }}",
            "summary": "={{ $json.summary }}",
            "summary_zh": "={{ $json.summary_zh }}",
            "keywords": "={{ $json.keywords }}",
            "source": "={{ $json.source }}"
          }
        },
        "options": {}
      },
      "id": "postgres-insert",
      "name": "保存到PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2220, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Database"
        }
      }
    }
  ],
  "connections": {
    "定时触发器": {
      "main": [
        [
          {
            "node": "读取RSS新闻源",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取RSS新闻源": {
      "main": [
        [
          {
            "node": "提取新闻字段",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取新闻字段": {
      "main": [
        [
          {
            "node": "保存新闻数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "保存新闻数据": {
      "main": [
        [
          {
            "node": "检查重复新闻",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查重复新闻": {
      "main": [
        [
          {
            "node": "合并数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "合并数据": {
      "main": [
        [
          {
            "node": "过滤新文章",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "过滤新文章": {
      "main": [
        [
          {
            "node": "Gemini AI分类和翻译",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini AI分类和翻译": {
      "main": [
        [
          {
            "node": "格式化数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "格式化数据": {
      "main": [
        [
          {
            "node": "保存到PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-07T00:00:00.000Z",
  "versionId": "5"
}
