n8n-workflows/news-ai-classification-workflow.json
{
  "name": "新闻AI分类与翻译工作流 (Gemini + PostgreSQL)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 2
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "定时触发器",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "http://feeds.bbci.co.uk/news/rss.xml",
        "options": {}
      },
      "id": "rss-feed-reader",
      "name": "读取RSS新闻源",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "extract-title",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "extract-link",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "extract-pubdate",
              "name": "pubDate",
              "value": "={{ $json.pubDate || $json.isoDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-fields",
      "name": "提取新闻字段",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT CAST(COUNT(*) as integer) as count FROM news_articles WHERE link = '{{ $json.link }}'",
        "options": {}
      },
      "id": "check-duplicate-db",
      "name": "检查重复新闻",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [900, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Database"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "merge-count-with-news",
      "name": "合并数据",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "looseTypeValidation": true
          },
          "conditions": [
            {
              "id": "check-not-duplicate",
              "leftValue": "={{ Number($json.count) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "filter-new-articles",
      "name": "过滤新文章",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a news classification and translation assistant. Analyze the following news article and provide a response in JSON format with these fields:\n\n- category: One of these categories in Chinese: 科技, 财经, 政治, 体育, 娱乐, 健康, 社会, 其他\n- title_zh: Translate the title to Chinese (max 100 Chinese characters)\n- summary_zh: A concise Chinese summary (max 200 Chinese characters)\n- keywords: An array of 3-5 English keywords\n\nNews Title: {{ $json.title }}\n\nReturn ONLY the JSON object, no other text.",
        "hasOutputParser": false
      },
      "id": "gemini-classification",
      "name": "Gemini AI分类和翻译",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {
          "temperature": 0.3,
          "maxOutputTokens": 1000
        }
      },
      "id": "gemini-chat-model",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1780, 450],
      "credentials": {
        "googlePalmApi": {
          "id": "google-gemini-api",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the output from Basic LLM Chain (可能是 output, text, 或 response)\nconst geminiText = $input.item.json.output || $input.item.json.text || $input.item.json.response || '';\nlet aiResult;\n\ntry {\n  // Try to extract JSON from markdown code blocks or find raw JSON\n  const jsonMatch = geminiText.match(/```json\\s*([\\s\\S]*?)\\s*```/) || \n                    geminiText.match(/\\{[\\s\\S]*\\}/);\n  \n  if (jsonMatch) {\n    const jsonText = jsonMatch[1] || jsonMatch[0];\n    aiResult = JSON.parse(jsonText);\n  } else {\n    aiResult = JSON.parse(geminiText);\n  }\n} catch (error) {\n  console.error('解析Gemini响应失败:', error);\n  console.error('原始响应:', geminiText);\n  aiResult = {\n    category: '其他',\n    title_zh: '标题翻译失败',\n    summary_zh: '暂无摘要',\n    keywords: []\n  };\n}\n\nconst originalData = $node[\"过滤新文章\"].json;\n\nconst newsItem = {\n  title: originalData.title || '',\n  title_zh: aiResult.title_zh || '',\n  link: originalData.link || '',\n  pubDate: originalData.pubDate || new Date().toISOString(),\n  category: aiResult.category || '其他',\n  summary_zh: aiResult.summary_zh || '',\n  keywords: Array.isArray(aiResult.keywords) ? aiResult.keywords.join(',') : '',\n  source: 'BBC News'\n};\n\nreturn { json: newsItem };"
      },
      "id": "format-data",
      "name": "格式化数据",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "jsCode": "// 转义SQL字符串中的单引号\nfunction escapeSql(str) {\n  if (!str) return 'NULL';\n  return \"'\" + String(str).replace(/'/g, \"''\") + \"'\";\n}\n\nconst sql = `\nINSERT INTO news_articles (title, title_zh, link, pub_date, category, summary_zh, keywords, source)\nVALUES (\n  ${escapeSql($input.item.json.title)},\n  ${escapeSql($input.item.json.title_zh)},\n  ${escapeSql($input.item.json.link)},\n  ${escapeSql($input.item.json.pubDate)},\n  ${escapeSql($input.item.json.category)},\n  ${escapeSql($input.item.json.summary_zh)},\n  ${escapeSql($input.item.json.keywords)},\n  ${escapeSql($input.item.json.source)}\n)\nON CONFLICT (link) DO NOTHING\nRETURNING id\n`;\n\nreturn { json: { query: sql } };"
      },
      "id": "prepare-insert-query",
      "name": "准备INSERT语句",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2110, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "postgres-insert",
      "name": "保存到PostgreSQL",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [2220, 300],
      "credentials": {
        "postgres": {
          "id": "postgres-credentials",
          "name": "PostgreSQL Database"
        }
      }
    }
  ],
  "connections": {
    "定时触发器": {
      "main": [
        [
          {
            "node": "读取RSS新闻源",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取RSS新闻源": {
      "main": [
        [
          {
            "node": "提取新闻字段",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "提取新闻字段": {
      "main": [
        [
          {
            "node": "检查重复新闻",
            "type": "main",
            "index": 0
          },
          {
            "node": "合并数据",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "检查重复新闻": {
      "main": [
        [
          {
            "node": "合并数据",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "合并数据": {
      "main": [
        [
          {
            "node": "过滤新文章",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "过滤新文章": {
      "main": [
        [
          {
            "node": "Gemini AI分类和翻译",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini AI分类和翻译": {
      "main": [
        [
          {
            "node": "格式化数据",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_languageModel": [
        [
          {
            "node": "Google Gemini Chat Model",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "格式化数据": {
      "main": [
        [
          {
            "node": "准备INSERT语句",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "准备INSERT语句": {
      "main": [
        [
          {
            "node": "保存到PostgreSQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-07T00:00:00.000Z",
  "versionId": "5"
}
